Repository GNOME/librsvg-oci-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: fedora latest, fedora rawhide, debian testing, opensuse tumbleweed, ubuntu 18.04 x86_64, debian testing i386, ubuntu 18.04 i386, rustc 1.29 9, rustc 1.28 8, rustc 1.27 7, rustc 1.26 6, rustc 1.25 5, rustc 1.24 4, rustc 1.23 3, rustc 1.22 2, rustc 1.21 1

fedora latest:
  script:
  - cd ${DIR}
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build --pull -f ${OCI_YML} -t ${IMAGE} .
  - docker push ${IMAGE}
  stage: distro
  before_script:
  - export IMAGE=${CI_REGISTRY_IMAGE}/${ARCH}/${DISTRO_NAME}:${DISTRO_VER}
  variables:
    ARCH: amd64
  ...

fedora rawhide:
  script:
  - cd ${DIR}
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build --pull -f ${OCI_YML} -t ${IMAGE} .
  - docker push ${IMAGE}
  stage: distro
  before_script:
  - export IMAGE=${CI_REGISTRY_IMAGE}/${ARCH}/${DISTRO_NAME}:${DISTRO_VER}
  variables:
    ARCH: amd64
  ...

debian testing:
  script:
  - cd ${DIR}
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build --pull -f ${OCI_YML} -t ${IMAGE} .
  - docker push ${IMAGE}
  stage: distro
  before_script:
  - export IMAGE=${CI_REGISTRY_IMAGE}/${ARCH}/${DISTRO_NAME}:${DISTRO_VER}
  variables:
    ARCH: amd64
  ...

opensuse tumbleweed:
  script:
  - cd ${DIR}
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build --pull -f ${OCI_YML} -t ${IMAGE} .
  - docker push ${IMAGE}
  stage: distro
  before_script:
  - export IMAGE=${CI_REGISTRY_IMAGE}/${ARCH}/${DISTRO_NAME}:${DISTRO_VER}
  variables:
    ARCH: amd64
  ...

ubuntu 18.04 x86_64:
  script:
  - cd ${DIR}
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build --pull -f ${OCI_YML} -t ${IMAGE} .
  - docker push ${IMAGE}
  stage: distro
  before_script:
  - export IMAGE=${CI_REGISTRY_IMAGE}/${ARCH}/${DISTRO_NAME}:${DISTRO_VER}
  variables:
    ARCH: amd64
  ...

debian testing i386:
  script:
  - cd ${DIR}
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build --pull -f ${OCI_YML} -t ${IMAGE} .
  - docker push ${IMAGE}
  stage: distro
  before_script:
  - export IMAGE=${CI_REGISTRY_IMAGE}/${ARCH}/${DISTRO_NAME}:${DISTRO_VER}
  variables:
    ARCH: i386
  ...

ubuntu 18.04 i386:
  script:
  - cd ${DIR}
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build --pull -f ${OCI_YML} -t ${IMAGE} .
  - docker push ${IMAGE}
  stage: distro
  before_script:
  - export IMAGE=${CI_REGISTRY_IMAGE}/${ARCH}/${DISTRO_NAME}:${DISTRO_VER}
  variables:
    ARCH: i386
  ...

rustc 1.29 9:
  script:
  - cd ${DIR}
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build --pull -f ${OCI_YML} -t ${IMAGE} .
  - docker push ${IMAGE}
  stage: rustc
  before_script:
  - export IMAGE=${CI_REGISTRY_IMAGE}/rustc:${TAG_VERSION}
  - export OCI_YML=rustc.yml
  - export DIR=rustc/
  ...

rustc 1.28 8:
  script:
  - cd ${DIR}
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build --pull -f ${OCI_YML} -t ${IMAGE} .
  - docker push ${IMAGE}
  stage: rustc
  before_script:
  - export IMAGE=${CI_REGISTRY_IMAGE}/rustc:${TAG_VERSION}
  - export OCI_YML=rustc.yml
  - export DIR=rustc/
  ...

Build newer rustc images
  .gitlab-ci.yml
Due: none

ci: remove only restrion clauses
  .gitlab-ci.yml
Due: none

foobar
  .gitlab-ci.yml
Due: none

ci: Properly pass the dockerfile paths
  .gitlab-ci.yml
Due: none

Docker: dockerfiles are not yml
  .gitlab-ci.yml
  debian/bionic
  debian/i386_bionic
  debian/i386_testing
  debian/testing
  fedora/latest
  fedora/rawhide
  opensuse/tumbleweed
Due: fedora latest, fedora rawhide, debian testing, opensuse tumbleweed, ubuntu 18.04 x86_64, debian testing i386, ubuntu 18.04 i386

ci: further use .extend over yml anchors
  .gitlab-ci.yml
Due: none

ci: standardize to 2 space indentation
  .gitlab-ci.yml
Due: none

fedora/latest: Update the image to a f30 base
  fedora/latest
Due: fedora latest, fedora rawhide

opensuse/tumbleweed: use new uri for it
  opensuse/tumbleweed
Due: opensuse tumbleweed

debian: fix paths for sh shell
  debian/i386_testing
  debian/testing
Due: debian testing, ubuntu 18.04 x86_64, debian testing i386, ubuntu 18.04 i386

Add mingw Docker image
  .gitlab-ci.yml
  archlinux/cleanup.sh
  archlinux/mingw
  archlinux/prepare.sh
Due: none

Update fedora/latest to fedora:31
  fedora/latest
Due: fedora latest, fedora rawhide

Add a README.md
  README.md
Due: none

ci: replace docker with podman/buildah
  .gitlab-ci.yml
Due: none

Revert "Update fedora/latest to fedora:31"
  fedora/latest
Due: fedora latest, fedora rawhide

ci: fedora 30 as the image to bootstrap containers
  .gitlab-ci.yml
Due: none

Add xz to the openSUSE packages
  opensuse/prepare.sh
Due: opensuse tumbleweed

Add cargo-vendor to the openSUSE packages
  opensuse/prepare.sh
Due: opensuse tumbleweed

Only push to the container repo if building on master
  .gitlab-ci.yml
Due: none

Avoid podman trying to talk to systemd when running in a container
  .gitlab-ci.yml
Due: none

Update package names for openSUSE
  opensuse/prepare.sh
Due: opensuse tumbleweed

Install rustfmt in openSUSE
  opensuse/prepare.sh
Due: opensuse tumbleweed

Install debuggers in the openSUSE image
  opensuse/prepare.sh
Due: opensuse tumbleweed

ci: build images with user namespaces
  .gitlab-ci.yml
  fedora/latest
  opensuse/cleanup.sh
  opensuse/prepare.sh
  opensuse/tumbleweed
Due: fedora latest, fedora rawhide, opensuse tumbleweed

ci: use buildah to push the images as well
  .gitlab-ci.yml
Due: none

Add clippy to openSUSE Tumbleweed image
  opensuse/tumbleweed
Due: opensuse tumbleweed

Update fedora:latest to Fedora 32
  fedora/latest
Due: fedora latest, fedora rawhide

fedora: kill rawhide image
  .gitlab-ci.yml
  fedora/cleanup.sh
  fedora/latest
  fedora/prepare.sh
  fedora/rawhide
Due: fedora latest, fedora rawhide

fedora: build image with a user namnespace
  fedora/latest
Due: fedora latest, fedora rawhide

ci: remove the rustc jobs
  .gitlab-ci.yml
Due: none

ci: disable ubuntu and debian jobs
  .gitlab-ci.yml
Due: none

Add cargo-c to all images
  debian/prepare.sh
  fedora/latest
  opensuse/tumbleweed
Due: fedora latest, fedora rawhide, debian testing, opensuse tumbleweed, ubuntu 18.04 x86_64, debian testing i386, ubuntu 18.04 i386

Add curl to opensuse:tumbleweed image
  opensuse/tumbleweed
Due: opensuse tumbleweed

rework the debian build
  .gitlab-ci.yml
  debian/bionic
  debian/cleanup.sh
  debian/i386_bionic
  debian/i386_testing
  debian/prepare.sh
  debian/testing
  debian/testing.Dockerfile
Due: debian testing, ubuntu 18.04 x86_64, debian testing i386, ubuntu 18.04 i386

Add sudo package on debian:testing
  debian/testing.Dockerfile
Due: debian testing, ubuntu 18.04 x86_64, debian testing i386, ubuntu 18.04 i386

Revert "Add sudo package on debian:testing"
  debian/testing.Dockerfile
Due: debian testing, ubuntu 18.04 x86_64, debian testing i386, ubuntu 18.04 i386

Install gitlab-clippy on opensuse:tumbleweed
  .gitlab-ci.yml
  debian/testing.Dockerfile
  fedora/latest.Dockerfile
  opensuse/tumbleweed.Dockerfile
Due: fedora latest, fedora rawhide, debian testing, opensuse tumbleweed, ubuntu 18.04 x86_64, debian testing i386, ubuntu 18.04 i386

Use version ^1.0 of gitlab-clippy
  opensuse/tumbleweed.Dockerfile
Due: opensuse tumbleweed

fedora: update to Fedora 33
  fedora/latest.Dockerfile
Due: fedora latest, fedora rawhide

Remove libcroco from all images
  debian/testing.Dockerfile
  fedora/latest.Dockerfile
  opensuse/tumbleweed.Dockerfile
Due: fedora latest, fedora rawhide, debian testing, opensuse tumbleweed, ubuntu 18.04 x86_64, debian testing i386, ubuntu 18.04 i386

Path conditions:
  fedora latest: any of: fedora/*
  fedora rawhide: any of: fedora/*
  debian testing: any of: debian/*
  opensuse tumbleweed: any of: opensuse/*
  ubuntu 18.04 x86_64: any of: debian/*
  debian testing i386: any of: debian/*
  ubuntu 18.04 i386: any of: debian/*
  rustc 1.29 9: any of: rustc/*
  rustc 1.28 8: any of: rustc/*
  rustc 1.27 7: any of: rustc/*
  rustc 1.26 6: any of: rustc/*
  rustc 1.25 5: any of: rustc/*
  rustc 1.24 4: any of: rustc/*
  rustc 1.23 3: any of: rustc/*
  rustc 1.22 2: any of: rustc/*
  rustc 1.21 1: any of: rustc/*
